.App {
  text-align: center;
  background-color: #282c34;
  overflow-x: auto;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container {
  width: calc(70vh - 5px);
  height: 50vh;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn {
  font-size: 50%;
  height: 8%;
  width: 100%;
  background-color: #CDC1FF;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border: 1px solid;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: #cdc1ffb7;
}

@media only screen and (max-width: 425px) {
  .container {
    height: 80vh;
    flex-direction: column;
  }
}